body{
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: #00cca3;
     font-family: 'Montserrat', sans-serif;
     margin-top:50px;
     color: #293d3d;
}


.topnav {
  overflow: hidden;
  background-color: white;
  border-style: solid;
  border-color:  #009933;
  border-radius: 15px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: none;

}

.topnav a:hover {
  color: #009933;
}

.topnav .icon {
  display: none;
}

/*@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*/

#first:hover {
    color:#009933;
}

.info{
  height:550px;
  margin-left:5px;
  margin-top:15px;
  border-radius: 15px;
  border-style: solid;
  border-color: #009933;
  background-color: white;
}

#h3{
  font-size:30px;
   text-align: center;
}

#h4{
    color: #009933;
    font-size:20px;
    text-align: center;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.panel-inside{
  margin-top: 20px;
  text-align: center;

}

#p{
  font-size:17px;
  margin-left: 40px;
}

#first,#second,#third,#fourth{
  background-color: white;
  height:500px;
  border-radius: 5px;
  border-style: solid;
  border-color: #009933;
  margin-top: 120px;
}

.table{
  text-align: center;
}

#panel1{
  margin-right: -50px;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #999999;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  #545454;
}




/*SAAAA*/
.flip{
  background-color: white;
	font-size: 20px;
	color: white;
	text-align: center;
}

p { color: #ffffff;  }


.wrapper{ width: 980px;
          margin: 0 auto;
        hoverflow: hidden;
        height:400px;
      }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */


.panel {
	margin: 0,auto;
	height: 170px;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}

.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
  text-align: center;
	background-color: white;
	width: 490px;
	height: 170px;
	padding: 20px;
  color: #009933;
  border-style: solid;
  border-color: #009933;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.box2{
	background-color: #009933;
  text-align: center;
	width: 490px;
	height: 170px;
	padding: 20px;
  border-style: solid;
  border-color: #009933;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
